<!doctype html>
<html ng-app>
	<head>
		<title>omelet.js</title>
		<meta name="description" content="Elegantly unscramble this message with jQuery using the space provided. Then write the scrambler that made it. The answer is an object with global scope that can scramble and unscramble any text any number of times.">
		<link rel="stylesheet" href="base.css">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
	</head>
	<body>
		
		<div class="omelet"></div>
	
		<div class="demo" ng-controller="LiveChange">
			<textarea ng-change="updateScramble()" ng-model="scramble_text" placeholder="Update Text"></textarea>
			<input type="number" ng-change="updateScramble()" ng-model="set_min" placeholder="Set Range Min">
			<input type="number" ng-change="updateScramble()" ng-model="set_max" placeholder="Set Range Max">
			<input type="number" ng-change="updateScramble()" ng-model="set_cadence" placeholder="Set Cadence">
			<input type="text" ng-change="updateScramble()" ng-model="set_characters" placeholder="Set Characters">
			<input id="embed" type="checkbox" ng-change="updateScramble()" ng-model="embed"><label for="embed">Embed Characters</label>
			<button ng-click="unscramble()">Decode Simply</button>
			<button ng-click="updateScramble()">Rescramble</button>
			<br /><br />
			
			<input id="as" type="checkbox" ng-change="updateScramble()" ng-model="yx"><label for="as">Animate XY Simultaneously</label>
			<input type="number" ng-change="updateScramble()" ng-model="set_speed" placeholder="Set Superfluous Speed">
			<button ng-click="unscrambleX()">Decode Superfluously</button>
			
		</div><!-- end demo -->
		
		<script src="omelet.js"></script>
		<script>
			//demo-related JS and scramble invocation
			var selector = '.omelet';
			var LiveChange = function($scope){
		        $scope.updateScramble = function(){ 
		        	omelet.scramble($scope.scramble_text,selector,$scope.set_min,$scope.set_max,$scope.set_cadence,$scope.set_characters,$scope.embed); 
		        }
		       	$scope.unscramble = function(){ 
		       		omelet.unscramble.simple(selector,$scope.embed); 
		       	}
		       	$scope.unscrambleX = function(){ 
		       		omelet.unscramble.superfluous(selector,$scope.set_speed,$scope.set_cadence,$scope.yx,$scope.embed); 
		       	}
		    };
		    
		    $(function() { 
				omelet.scramble(null,selector); 
			});
		</script>
	</body>
</html>